// -------------------------------------- //
// LogoType®: Advance CSS3: Cross Browser //
// -------------------------------------- //
//         Using @mixin directive         //
//                  ~   ~                 //
//                 (.) (.)                //
//                    -                   //
//                  `\^/`                 //
//        @author : Prabhat Kumar         //
//          @date : 11-May-2016           //
// -------------------------------------- //
// Sass - (3.4.21)     : Selective Steve  //
// Compass - (v1.0.3)  : Polaris          //
// -------------------------------------- //

// Path: logotype/source/core/scss/mixins/

// ==========================================
// B. Visually hide an element.
%visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

// ==========================================
// C. CSS3 calc mixin.
@mixin axix-calc($property, $value) {
  #{$property}: -webkit-calc(#{$value});
  #{$property}: -moz-calc(#{$value});
  #{$property}: calc(#{$value});
}

// ==========================================
// D. Mixins for semi-transparent colors.
// D-1
@mixin alpha-background-color($color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  background-color: $solid-color;
  background-color: $color;
}

// D-2
@mixin alpha-attribute($attribute, $color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  #{$attribute}: $solid-color;
  #{$attribute}: $color;
}
