// LogoType®: Opacity - Cross Browser
// Path: logotype/source/core/scss/opacity

@mixin opacity($opacity) {
  opacity: $opacity;
  // IE8 filter
  $opacity-IE: ($opacity * 100);
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity = $opacity-IE)';
  // IE 5-7
  filter: alpha(opacity = $opacity-IE);
}
