// LogoType® [v1.0.0], Configurations.


// 1. Typography ==//==
$axix-base-font-family:  quote("Helvetica Neue"), Helvetica, Arial, sans-serif !default;
$axix-base-font-family-sans-serif:              quote("Open Sans"), sans-serif !default;
$axix-base-font-family-display:                   quote("Poiret One"), cursive !default;
$axix-base-font-size:                                                     14px !default;
